//
// GoogleMap
// --------------------------------------------------
// GoogleMapを横幅いっぱいに広がるようにするクラス
// フッター付近にあるGoogleMapで使用
// --------------------------------------------------


// demo-map
// -------------------------
.demo-map {
  width: 100%;
  height: 500px;
  @media(max-width: $screen-xs-max) {
    pointer-events: none;
  }
}
