//
// Scaffolding
// --------------------------------------------------
// リセット用のスタイル
// --------------------------------------------------


// Body reset
// -------------------------
// bodyのスタイルをサイトに合わせて調整
// -------------------------
body,html {
  height: 100%;
}
body {
  min-height: 100%;
  text-rendering: optimizeLegibility;
}


// Links
// -------------------------
// テキストリンクのスタイルをサイトに合わせて調整
// -------------------------
a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
