//
// Tables
// --------------------------------------------------
// テーブルに関するクラス
// --------------------------------------------------


// table-schedule
// -------------------------
// Bootstrap標準のtableタグの色を変更するクラス ※白を標準の色としたくないため、クラスをつけて調整
// SCHEDULEのテーブルなどで使用
// -------------------------
.table-schedule {
  color: #fff;
  border-top: 2px solid #fff;

  // table-striped
  // -------------------------
  // Bootstrap標準のテーブルセルの色を交互に変えるクラス「.table-striped」の色を変更
  // -------------------------
  &.table-striped {
    > tbody > tr:nth-child(odd) {
      background-color: rgba(#fff, .15);
    }
  }
}
